{% load mathfilters %}
{% load i18n %}
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <select name="language">
       {% get_current_language as LANGUAGE_CODE %}
       {% get_available_languages as LANGUAGES %}
       {% get_language_info_list for LANGUAGES as languages %}
       {% for language in languages %}
         <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
             {{ language.name_local }} ({{ language.code }})
         </option>
       {% endfor %}
    </select>
    <input type="submit" value="{% trans "Go"  %}">
</form>

<p style="color:rgb(255, 0, 225); font-size: 16px; ">{% trans "Hi Guest, you're welcome to our site" %} :)</p>
<p style="color:rgb(255, 94, 0); font-size: 16px; ">{% trans "Please enjoy the rest of your day" %}</p>


<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
        .wrap { 
            width: 100%;
            padding: 5px 5px 8px 0px;
            margin: 0 0 5px -5px;
            font-size: 18px;
        }
        .modern-form {
            width: 500px;
            margin: 30px auto;
            background-color:  #fff;
            border: solid 1px #ccc;
            padding: 20px 10px;
        }
        .combo{
            padding:10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Finder</title>
</head>

<body>
 <div class="content">
  <div>
    <div style="color:blue"> <center> <p><h1>{% trans "Weather Finder" %} </h1></p></center></div>
      <form action="/weather/search" method="POST" class="modern-form"> {% csrf_token %} <!-- To handle the Cross Site Request Forgery issue -->
        <!-- <label for="title">Movie Title: </label> -->
        <center><input type="text" name="city" id="city" placeholder="{% trans "Please Enter a City to Get the Weather Condition" %}" class="wrap"></center><!-- value="City Name" -->
       
        <center><input type="submit" value="{% trans "Search Weather" %}" class="wrap"></center>

        <!-- <label for="cache_duration">Cache Duration:</label>
        <select id="cache_duration" name="cache_duration" class="combo">
            <option value=300>5 minutes</option>
            <option value=600>10 minutes</option>
            <option value=3600>60 minutes</option>
        </select> -->
      </form>
  </div>
  
  {% if weather %}
  {% if weather.cod == '404'%}
  <div><p><h3 style="color:red">{% trans "Please double check your input value" %} </h3></p> <p>{% trans "The city" %} '{{input}}' {% trans "was not found" %}</p></div> <!-- {{weather.message}}-->
  {% else %}
  <div > <p><h3 style="color:black">{% trans "The Weather Condition in " %} {{weather.name}}</h3></p></div>
    
  <div>
    <ul>
        <li><p> <strong>{% trans "City: " %}</strong> {{weather.name}}, {{weather.sys.country}}</p></li>
        <!-- <li><p><strong>Latitude and Longitude:</strong> {{weather.coord.lat}}, {{weather.coord.lon}} </p></li> -->
        <li><p><strong>{% trans "Temperature: " %}</strong> {{weather.main.temp}} <em>kelvin</em> ( {% trans "Minimum: "%} {{weather.main.temp_min}}, {% trans "Maximum: "%} {{weather.main.temp_max}})
        </p></li>
        <li> <p><strong>{% trans " Humidity: " %} </strong> {{weather.main.humidity}} <em>g/m<sup>3</sup></em></p></li>
        <li> <p><strong>{% trans "Pressure: " %}</strong>  {{weather.main.pressure}} <em>Pa</em></p></li>
        <li> <p><strong>{% trans "Wind Speed and Direction: " %}" </strong> {{weather.wind.speed}} <em>m/s</em>, {% trans "From: "%}  
             {% if weather.wind.deg >= 270 %}
             {{weather.wind.deg}}<sup>o</sup> <em>NW</em> {% trans "To: "%} {{ weather.wind.deg|sub:'180' }}<sup>o</sup> <em>SE</em>
             {% elif weather.wind.deg > 180 %}
             {{weather.wind.deg}}<sup>o</sup><em>SW</em> {% trans "To: "%} {{ weather.wind.deg|sub:'180' }}<sup>o</sup><em>NE</em>
             {% elif weather.wind.deg > 90 %}
             {{weather.wind.deg}}<sup>o</sup> SE {% trans "To: "%} {{ '180'|sub:weather.wind.deg }}<sup>o</sup> NW
             {% elif weather.wind.deg > 0 %}
             {{weather.wind.deg}}<sup>o</sup> NE {% trans "To: "%} {{ '180'|sub:weather.wind.deg }}<sup>o</sup> SW
             {% endif %}
             </p> </li>
        <li><p><strong>{% trans "Description: " %}</strong> {{weather.weather.0.description}} </p></li>
    </ul>
  </div>
  {% endif %}
  {% endif %}
  <br>
  <br>
  <a href='/config'>{% trans "Configure cache timeout" %}</a>
 </div>
</body>

</html>


<!-- 
{
"coord":{"lon":-0.1257,"lat":51.5085},
"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],
"base":"stations",
"main":{"temp":286.21,"feels_like":285.22,"temp_min":284.58,"temp_max":287.21,"pressure":1017,"humidity":63},
"visibility":10000,
"wind":{"speed":3.09,"deg":100},
"clouds":{"all":75},
"dt":1653850797,
"sys":{"type":2,"id":2019646,"country":"GB","sunrise":1653796312,"sunset":1653854655},
"timezone":3600,
"id":2643743,
"name":"London",
"cod":200
} -->